name: phplint

on:
    push:
        branches: ["**"]
    pull_request:

jobs:
    phplint:
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout
                uses: actions/checkout@v4

            -   name: PHP Lint
                uses: michaelw90/PHP-Lint@2.1.0
